//variable
$col-full : 1300px;//calc(100% - 50px)
$max-width : 800px;
$min-width : 350px;

//color
$min-color : #bd081c;
$sek-color : #fff;
$pos-color : #529ecc;
$del-color : #9a0000;
$txt-min-color: rgba(0,0,0,0.84);
$txt-sek-color: rgba(0,0,0,0.54);
$txt-pri-color: rgba(0,0,0,0.34);
$txt-size-title: 22px;
$txt-size-desc: 16px;
$txt-size-big: 32px;
$txt-size-small: 14px;

//method
@mixin rgba_black($val, $col) {
	background-color: rgba(0,0,0,$val);
	color: $col;
}
@mixin post_none() {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: translate(0, 0);
	   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
}
@mixin post_top() {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	   -moz-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		     -o-transform: translate(0, -50%);
		        transform: translate(0, -50%);
}
@mixin post_center() {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
}
@mixin post_center_relative() {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
}
@mixin post_fixed() {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $txt-sek-color;
	z-index: 300;
}
@mixin bdr_top() {
	border-top: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_bottom() {
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_top_bottom() {
	border-top: 1px rgba(0,0,0,0.1) solid;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_all() {
	border: 1px rgba(0,0,0,0.1) solid;
}
@mixin width($val) {
	width: $val;
	@media (max-width: $max-width) {
		width: 100%;
	}
}

//width
.width {
	position: relative;
	&.width-center {
		margin: auto;
	}
	&.width-middle {
		@include post_center();
	}
	&.width-all {
		width: calc(100% - 30px);
		padding: 0 15px;
	}
	&.width-100px {
        @include width(100px);
    }
	&.width-150px {
        @include width(150px);
    }
	&.width-200px {
        @include width(200px);
    }
    &.width-250px {
        @include width(250px);
    }
    &.width-300px {
        @include width(300px);
    }
    &.width-350px {
        @include width(350px);
    }
    &.width-400px {
        @include width(400px);
    }
    &.width-450px {
        @include width(450px);
    }
    &.width-500px {
        @include width(500px);
    }
    &.width-550px {
        @include width(550px);
    }
    &.width-600px {
        @include width(600px);
    }
    &.width-650px {
        @include width(650px);
    }
    &.width-700px {
        @include width(700px);
	}
	&.width-750px {
        @include width(750px);
	}
	&.width-800px {
        @include width(800px);
	}
	&.width-850px {
        @include width(850px);
	}
	&.width-900px {
        @include width(900px);
	}
	&.width-950px {
        @include width(950px);
	}
	&.width-1000px {
        @include width(1000px);
    }
}