//files
@import "assets";
@import "fonts";
@import "padding";
@import "grid";
@import "column";
@import "button";
@import "field";
@import "image";
@import "frame";
@import "content";
@import "navigator";

//variable
* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	font-family: 
		"Helvetica Neue", 
		Helvetica, 
		Arial, 
		sans-serif, 
		"FontFirst";
}

html {
	background-color: rgba(225,225,225,0.24);
	&.set-scroll {
		overflow-y: hidden;
	}
	&.set-scroll-mobile {
		@media (max-width: $max-width) {
			overflow-y: hidden;
		}
	}
}

a {
	text-decoration: none;
}

.col-all {
	@include col_all();
}
.col-full {
	@include col_full();
}
.col-small {
	@include col_set(700px);
}
.col-1000px {
	@include col_set(1000px);
}
.col-900px {
	@include col_set(900px);
}
.col-800px {
	@include col_set(800px);
}
.col-700px {
	@include col_set(700px);
}
.col-600px {
	@include col_set(600px);
}
.col-500px {
	@include col_set(500px);
}
.col-400px {
	@include col_set(400px);
}
.col-300px {
	@include col_set(300px);
}

.bdr-bottom {
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}

.ctn-main-font {
	font-family: 
		"Helvetica Neue", 
		Helvetica, 
		Arial, 
		sans-serif,
		"FontFirst";
	font-weight: 600;
	&.ctn-big {
		font-size: 54px;
	}
	&.ctn-standar {
		font-size: 44px;
	}
	&.ctn-small {
		font-size: 34px;
	}
	&.ctn-mikro {
		font-size: 24px;
	}
	&.ctn-16px {
		font-size: 16px;
	}
	&.ctn-14px {
		font-size: 14px;
	}
	&.ctn-12px {
		font-size: 12px;
	}
	&.ctn-10px {
		font-size: 10px;
	}
	&.ctn-upp {
		text-transform: uppercase;
	}
	&.ctn-normal {
		text-transform: normal;
	}
	&.ctn-center {
		text-align: center;
	}
	&.ctn-sek-color {
		color: $txt-sek-color;
		a {
			color: $txt-sek-color;
		}
	}
	&.ctn-min-color {
		color: $txt-min-color;
		a {
			color: $min-color;
		}
	}
	&.ctn-link-color {
		color: $txt-min-color;
		a {
			color: $min-color;
		}
	}
	&.ctn-white-color {
		color: #fff;
	}
	&.ctn-err-color {
		color: $del-color;
	}
	&.ctn-line {
		line-height: 1.5;
	}
	&.ctn-thin {
		font-weight: 500;
	}
	&.ctn-center {
		text-align: center;
	}
	&.ctn-left {
		text-align: left;
	}
	&.ctn-right {
		text-align: right;
	}
}

/*header*/
#header {
	position: relative;
	width: 100%;
	height: 55px;
	@media (max-width: $max-width) {
		//height: 100px;
	}
	.hc-place {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 55px;
		background-color: #333;
		z-index: 100;
		.hc-menu {
			position: relative;

			width: $col-full;
			height: 40px;
			overflow: hidden;

			padding: 7.5px 0;
			margin: auto;

			@media (max-width: $max-width) {
				width: calc(100% - 20px);
			}

			@include grid_3x(150px, 1fr, 1fr);
			
			@media (max-width: $max-width) {
				@include grid_2x(120px, 1fr);
			}

			.col-1 {
				@include column_n(1);
			}

			.col-2 {
				position: relative;
				@include column_n(2);
				@media (max-width: $max-width) {
					/*position: fixed;
					top: 55px;
					left: 0;
					width: 100%;
					background-color: #333;*/
					display: none;
				}
			}
			.col-3 {
				@include column_n(3);
				text-align: right;
				@media (max-width: $max-width) {
					@include column_n(2);
				}
			}
			.logo {
				position: relative;
				width: 120px;
				height: 40px;
				border-radius: 40px;
				overflow: hidden;
				img {
					@include post_top();
					width: 100%;
				}
			}
			.btn-icn {
				display: inline-block;
				vertical-align: top;
				text-align: center;
			}
			.create {
				display: inline-block;
				vertical-align: top;
				@media (max-width: $max-width) {
					position: fixed;

					right: 10px;
					bottom: 10px;
					
					width: 45px;
					height: 45px;
					padding: 0 0;

					z-index: 100;
				}
				.ttl {
					@media (max-width: $max-width) {
						display: none;
					}
				}
			}
		}
		.hc-list {
			position: relative;
			width: 100%;
			height: 45px;
			overflow: hidden;
			li {
				position: relative;
				height: 45px;
				
				//width: 25%;
				//padding: 12.5px 0;
				padding: 12.5px 15px;

				text-align: center;

				list-style: none;
				float: left;
				font-size: 14px;
				font-weight: 800;

				text-transform: uppercase;

				color: rgba(225,225,225,0.84);
				&:hover {
					color: #fff;
				}
			}
		}
		#all-ctr {
			&:hover {
				cursor: pointer;
				#pl-ctr {
					display: block;
				}
			}
		}
		#pl-ctr {
			display: none;
		}
		.ctr {
			position: fixed;
			left: 0;
			top: 40px;

			width: 100%;
			max-height: 350px;
			overflow-y: auto;

			padding: 20px 0;

			background-color: #333;

			text-align: left;
			cursor: default;

			.place-ctr {
				position: relative;
				width: $col-full;
				margin: auto;
				@include col_masonry(6);
			}
			.tag {
				position: relative;
				width: 100%;
				padding: 5px 0;
				display: block;
						
				font-size: 14px;
				font-weight: 600;

				text-transform: none;

				a {
					color: #fff;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
#main-search {
	position: relative;
	margin: auto;
	width: 600px;
	height: 45px;
	overflow: hidden;
	background-color: $sek-color;
	border-radius: 45px;
	@media (max-width: $max-width) {
		width: calc(100% - 20px);
	}
	&.select {
		background-color: rgba(225,225,225,0.34);
		.txt {
			//background-color: rgba(225,225,225,0.34);
			color: rgba(0,0,0,0.84);
		}
		.btn {
			//background-color: rgba(225,225,225,0.34);
			color: rgba(0,0,0,0.84);
		}
	}
	.txt {
		width: calc(100% - 100px);
		height: 45px;
		float: left;
		background-color: rgba(0,0,0,0);
		color: rgba(0,0,0,0.54);
		border-radius: 0;
	}
	.btn {
		width: 70px;
		height: 45px;
		padding: 0 0;
		float: left;
		border-radius: 0;
	}
}

/*body*/
#body {
	.place-search {
		position: relative;
		width: 100%;
		height: 80px;

		//border-bottom: 4px rgba(0,0,0,0.34) solid;
		
		@include grid_2x(1fr, 50px);

		.txt-search {
			position: relative;
			width: 100%;
			height: 80px;
			font-size: 38px;
			font-weight: 600;
			background-color: rgba(0,0,0,0);

			color: $txt-sek-color;

			box-shadow: 0 0 0 0;

			@include column_n(1);
		}
		.btn-search {
			@include column_n(2);

			cursor: pointer;
			font-size: 22px;

			background-color: rgba(0,0,0,0);
			color: $txt-sek-color;
			
			&:hover {
				color: $txt-min-color;
			}
		}
	}
	.banner {
		position: relative;
		width: 100%;
		padding: 30px 0;
		text-align: center;
		background-color: #222;
		color: #fff;
		h1 {
			position: relative;
			margin: auto;
			width: 400px;
			padding: 15px 0;
			@media (max-width: $min-width) {
				width: 100%;
			}
		}
	}
	.post-home {
		@include col_set(900px);
		@media (max-width: $max-width) {
			padding: 10px 0;
		}
		.side-fixed {
			position: fixed;
			width: 350px;
			bottom: 0;
			@media (max-width: $max-width) {
				position: relative;
				width: 100%;
			}
		}
		.side-absolute {
			position: absolute;
			right: 0;
			width: 350px;
			bottom: 0;
			@media (max-width: $max-width) {
				position: relative;
				width: 100%;
			}
		}
	}
	.post-grid {
		@include grid_2x(1fr, 350px);
		@media (max-width: $max-width) {
			@include grid_none();
		}
		.post-grid-1 {
			position: relative;
			width: calc(100% - 5px);
			@include column_1();
			@media (max-width: $max-width) {
				width: calc(100%);
			}
		}
		.post-grid-2 {
			position: relative;
			@include column_2();
			@media (max-width: $max-width) {
				display: none;
			}
		}
	}
	.post {
		/*@include col_full();
		@include col_masonry(4);*/
		@include col_full();
		display: flex;
	    flex-wrap: wrap;
	    margin-top: 15px;
	    .frame-post {
	    	width: ($col-full / 5) - 30px;
	    	margin: 15px;
	    	@media (max-width: $max-width) {
	    		width: calc(50% - 10px);
	    		margin: 5px;
	    	}
	    	@media (max-width: $min-width) {
	    		width: calc(100% - 10px);
	    		margin: 5px;
	    	}
	    }
		@media (max-width: $max-width) {
			margin-top: 10px;
		}
	}
	.post-flex {
		@include col_full();
		display: flex;
	    flex-wrap: wrap;
	}
	.nav-post {
		position: relative;
		width: 100%;
		height: 60px;
		background-color: $sek-color;
		text-align: center;

		@include bdr_bottom();
		ul {
			cursor: default;
			a {
				position: relative;
				
				height: 60px;
				line-height: 60px;
				padding: 0 15px;

				display: block;
				display: inline-block;

				color: $txt-sek-color;

				&:hover {
					color: $txt-min-color;
				}

				&.active {
					height: 52px;
					line-height: 52px;

					color: $txt-min-color;
					border-bottom: 4px $txt-min-color solid;
				}
			}
			li {
				list-style: none;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
}

/*footer*/
#footer {
	position: relative;
	width: 100%;
	padding: 30px 0;
	background-color: #fff;
	margin-top: 15px;
	@include bdr_top();
	@media (max-width: $max-width) {
		padding: 15px 0;
		margin-top: 5px;
	}
	.ft-place {
		position: relative;
		width: $col-full;
		margin: auto;
		@include grid_4x(500px, 1fr, 1fr, 1fr);

		@media (max-width: $max-width) {
			width: 100%;
			@include grid_none();
		}

		.ft-col {
			position: relative;
			width: calc(100% - 30px);
			padding: 0 15px;
		}

		h1 {
			color: $txt-sek-color;
			font-size: 24px;
			padding-bottom: 10px;
			@media (max-width: $max-width) {
				padding: 10px 0;
			}
		}

		p {
			color: $txt-sek-color;
			padding: 10px 0;
			font-size: 14px;
			line-height: 1.5;
		}
		.logo {
			position: relative;
			width: 100px;
			img {
				width: 100%;
			}
		}

		.ft-menu {
			li {
				list-style: none;
				padding: 7.5px 0;
				color: $txt-sek-color;
				font-size: 14px;
				.icn {
					width: 30px;
					font-weight: 500;
					font-size: 24px;
					&.icn-small {
						font-size: 14px;
					}
				}
			}
		}


		.ft-col-1 {
			@include column_n(1);
		}
		.ft-col-2 {
			@include column_n(2);
		}
		.ft-col-3 {
			@include column_n(3);
		}
		.ft-col-4 {
			@include column_n(4);
		}
	}
}
